.page-header-custom{
    background-color: powderblue;
    margin-top: 10;
    padding: 20px 20px 20px 40px;
}


.table  {

            width: auto;
            height: auto;
            white-space: wrap;
            overflow:hide;

        }
        .tbody tr:nth-child(odd) {
          background-color: #ff33cc;
        }
		
		
		
		.th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #4CAF70;
		  color: white;
		}
