{% extends 'audit_workflow/base.html' %}

{% block content %}
    <h1>Change Password</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  </head>  {# Render the form fields #}
        <button type="submit">Change Password</button>
    </form>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}